In [249]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [250]:
df = pd.read_csv('OnlineKhatt.tsv', sep='\t')
 
# printing data
df

,file_name,text
0,OnlineKHATT_A0001_1_1.jpg,أطلقت الشركة السعودية لمعدات الديزل المحدودة ب...
1,OnlineKHATT_A0001_1_10.jpg,الديزل حرصت على استقدام عدة طرازات جديدة من
2,OnlineKHATT_A0001_1_11.jpg,حافلات هايجر الصينية التى تتميز بتعدد استخداما...
3,OnlineKHATT_A0001_1_12.jpg,لوسائل الراحة لمستخدميها ومن جانبه، أوضح مازن ...
4,OnlineKHATT_A0001_1_13.jpg,مدير قسم الشاحنات بالشركة السعودية لمعدات الدي...
...,...,...
8493,OnlineKHATT_A1193_2_6.jpg,خ ض، ب س ش، ص غ ه
8494,OnlineKHATT_A1193_3_1.jpg,أننا في الحج. هل تعلم فائدة الكلمات التالية له...
8495,OnlineKHATT_A1193_3_2.jpg,مشمس، دراق، غيظ، ناء ،بث ،نسر
8496,OnlineKHATT_A1194_2_6.jpg,خ ض، ب س ،ش، ص غ ه
8497,OnlineKHATT_A1194_3_2.jpg,مشمس، دراق، غيط، ناء ،بث ،نسر

In [251]:
# data = []
# for i,j in enumerate(df['text']):
#     data.append(j)

# df = pd.DataFrame(data, columns=['concat5'])
# df

In [252]:
# print (df.groupby(df.index // 5)['text'].agg('\n'.join))

In [253]:
# df['text'].groupby(np.repeat(np.arange(len(df)), 5)[:len(df)]).agg('\n'.join)

In [254]:
df2 = pd.DataFrame({'col':['one','fish','two','fish','left','foot','right','foot']})
df2

     col
0    one
1   fish
2    two
3   fish
4   left
5   foot
6  right
7   foot

In [255]:
output_left = df.groupby(df.index // 5).agg(' '.join)

/usr/local/lib/python3.7/dist-packages/pandas/core/groupby/generic.py:303: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.
  results[key] = self.aggregate(func)

In [256]:
df = df.dropna()

In [257]:
len(df)

8497

In [258]:
output_right = df.groupby(df.index // 5)['text'].agg('\n'.join)

In [259]:
output = pd.concat([output_left, output_right], axis=1)

In [260]:
print(df3.groupby(df3.index // 5)['text'].agg(' '.join).to_frame())

                                                   text
0     أطلقت الشركة السعودية لمعدات الديزل المحدودة ب...
1     مصنع هايجر للحافلات يعد من المصانع الرئيسية في...
2     خمسة طرازات جديدة من حافلات هايجر، وذلك خلال ح...
3     كبيراً تشهده المملكة العربية السعودية في مختلف...
4     إصلاح معايشهم في الدنيا، ويدركون به استنقاذ أر...
...                                                 ...
1695  الخيمة وحو نائم بكلمات لا أفهمها مثل أنقض بغلس...
1696  ذهب نوح مظفر ضرغام بصحبة رؤوف بن لؤي رايق ظافر...
1697  خ ض، ب س ش، ص غ ه أننا في الحج هل تعلم فائده ا...
1698  آخر عند وصولنا طفنا وسعينا مع شيخ. كان جاري في...
1699  مشمس، دراق، غيظ، ناء ،بث ،نسر خ ض، ب س ،ش، ص غ...

[1700 rows x 1 columns]

In [261]:
output.to_csv('concat_khatt.tsv', sep="\t")

In [262]:
output['file_name'] = 'batch'+(output['file_name'].index + 1).astype(str)+'.jpg'

In [263]:
output

          file_name                                               text
0        batch1.jpg  أطلقت الشركة السعودية لمعدات الديزل المحدودة ب...
1        batch2.jpg  مصنع هايجر للحافلات يعد من المصانع الرئيسية في...
2        batch3.jpg  خمسة طرازات جديدة من حافلات هايجر، وذلك خلال\n...
3        batch4.jpg  كبيراً تشهده المملكة العربية السعودية في مختلف...
4        batch5.jpg  إصلاح معايشهم في الدنيا، ويدركون به استنقاذ أر...
...             ...                                                ...
1695  batch1696.jpg  الخيمة وحو نائم بكلمات لا أفهمها مثل أنقض بغلس...
1696  batch1697.jpg  ذهب نوح مظفر ضرغام بصحبة رؤوف بن لؤي رايق ظافر...
1697  batch1698.jpg  خ ض، ب س ش، ص غ ه\nأننا في الحج هل تعلم فائده ...
1698  batch1699.jpg  آخر عند وصولنا طفنا وسعينا مع شيخ. كان جاري في...
1699  batch1700.jpg  مشمس، دراق، غيظ، ناء ،بث ،نسر\nخ ض، ب س ،ش، ص ...

[1700 rows x 2 columns]

In [264]:
# train_test_split(output, test_size=0.20, random_state=42)

In [265]:
train, test = train_test_split(output, test_size=0.20, random_state=42)

In [266]:
test, val = train_test_split(test, test_size=0.50, random_state=42)

In [267]:
train.to_csv('train.csv',index=False)
test.to_csv('test.csv',index=False)
val.to_csv('val.csv',index=False)