In [149]:
import pandas as pd
import numpy as np

In [150]:
df = pd.read_csv('OnlineKhatt.tsv', sep='\t')
 
# printing data
df

,file_name,text
0,OnlineKHATT_A0001_1_1.jpg,أطلقت الشركة السعودية لمعدات الديزل المحدودة ب...
1,OnlineKHATT_A0001_1_10.jpg,الديزل حرصت على استقدام عدة طرازات جديدة من
2,OnlineKHATT_A0001_1_11.jpg,حافلات هايجر الصينية التى تتميز بتعدد استخداما...
3,OnlineKHATT_A0001_1_12.jpg,لوسائل الراحة لمستخدميها ومن جانبه، أوضح مازن ...
4,OnlineKHATT_A0001_1_13.jpg,مدير قسم الشاحنات بالشركة السعودية لمعدات الدي...
...,...,...
8493,OnlineKHATT_A1193_2_6.jpg,خ ض، ب س ش، ص غ ه
8494,OnlineKHATT_A1193_3_1.jpg,أننا في الحج. هل تعلم فائدة الكلمات التالية له...
8495,OnlineKHATT_A1193_3_2.jpg,مشمس، دراق، غيظ، ناء ،بث ،نسر
8496,OnlineKHATT_A1194_2_6.jpg,خ ض، ب س ،ش، ص غ ه
8497,OnlineKHATT_A1194_3_2.jpg,مشمس، دراق، غيط، ناء ،بث ،نسر

In [151]:
# data = []
# for i,j in enumerate(df['text']):
#     data.append(j)

# df = pd.DataFrame(data, columns=['concat5'])
# df

In [152]:
# print (df.groupby(df.index // 5)['text'].agg('\n'.join))

In [153]:
# df['text'].groupby(np.repeat(np.arange(len(df)), 5)[:len(df)]).agg('\n'.join)

In [154]:
df2 = pd.DataFrame({'col':['one','fish','two','fish','left','foot','right','foot']})
df2

     col
0    one
1   fish
2    two
3   fish
4   left
5   foot
6  right
7   foot

In [155]:
output_left = df.groupby(df.index // 5).agg(' '.join)

/usr/local/lib/python3.7/dist-packages/pandas/core/groupby/generic.py:303: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.
  results[key] = self.aggregate(func)

In [156]:
df = df.dropna()

In [157]:
len(df)

8497

In [158]:
output_right = df.groupby(df.index // 5)['text'].agg('\n'.join)

In [159]:
output = pd.concat([output_left, output_right], axis=1)

In [160]:
print(df3.groupby(df3.index // 5)['text'].agg(' '.join).to_frame())

                                                   text
0     أطلقت الشركة السعودية لمعدات الديزل المحدودة ب...
1     مصنع هايجر للحافلات يعد من المصانع الرئيسية في...
2     خمسة طرازات جديدة من حافلات هايجر، وذلك خلال ح...
3     كبيراً تشهده المملكة العربية السعودية في مختلف...
4     إصلاح معايشهم في الدنيا، ويدركون به استنقاذ أر...
...                                                 ...
1695  الخيمة وحو نائم بكلمات لا أفهمها مثل أنقض بغلس...
1696  ذهب نوح مظفر ضرغام بصحبة رؤوف بن لؤي رايق ظافر...
1697  خ ض، ب س ش، ص غ ه أننا في الحج هل تعلم فائده ا...
1698  آخر عند وصولنا طفنا وسعينا مع شيخ. كان جاري في...
1699  مشمس، دراق، غيظ، ناء ،بث ،نسر خ ض، ب س ،ش، ص غ...

[1700 rows x 1 columns]

In [161]:
output.to_csv('concat_khatt.tsv', sep="\t")

In [162]:
output

,file_name,text
0,OnlineKHATT_A0001_1_1.jpg OnlineKHATT_A0001_1_...,أطلقت الشركة السعودية لمعدات الديزل المحدودة ب...
1,OnlineKHATT_A0001_1_14.jpg OnlineKHATT_A0001_1...,مصنع هايجر للحافلات يعد من المصانع الرئيسية في...
2,OnlineKHATT_A0001_1_2.jpg OnlineKHATT_A0001_1_...,خمسة طرازات جديدة من حافلات هايجر، وذلك خلال\n...
3,OnlineKHATT_A0001_1_7.jpg OnlineKHATT_A0001_1_...,كبيراً تشهده المملكة العربية السعودية في مختلف...
4,OnlineKHATT_A0001_2_3.jpg OnlineKHATT_A0001_2_...,إصلاح معايشهم في الدنيا، ويدركون به استنقاذ أر...
...,...,...
1695,OnlineKHATT_A1190_2_4.jpg OnlineKHATT_A1190_2_...,الخيمة وحو نائم بكلمات لا أفهمها مثل أنقض بغلس...
1696,OnlineKHATT_A1192_2_1.jpg OnlineKHATT_A1192_2_...,ذهب نوح مظفر ضرغام بصحبة رؤوف بن لؤي رايق ظافر...
1697,OnlineKHATT_A1192_2_6.jpg OnlineKHATT_A1192_3_...,خ ض، ب س ش، ص غ ه\nأننا في الحج هل تعلم فائده ...
1698,OnlineKHATT_A1193_2_3.jpg OnlineKHATT_A1193_2_...,آخر عند وصولنا طفنا وسعينا مع شيخ. كان جاري في...
1699,OnlineKHATT_A1193_3_2.jpg OnlineKHATT_A1194_2_...,مشمس، دراق، غيظ، ناء ،بث ،نسر\nخ ض، ب س ،ش، ص ...